.mb-3 {
    max-width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.h1-title {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

#del-btn {
    margin-left: 30px;
}

